.appBar {
  height:70px;
  min-height: 70px;
  background: #fff;
  color: #000;
  box-shadow: none;

  .upperToolBar {
    height: 70px;
    min-height: 70px;

    .title {
      flex: 1;
      font-weight: 500;
      font-size: 1.3rem;
      margin-left: 20px;
    }
  }
}
.match{
  display: inline-block;
  padding: 2px 11px;
  font-size: 15px;
  border-radius: 3px;
  color: #fff;
  margin-left: 10px;
  background: #78c61e;
}
.appContainerSuspect{
  padding-left: 40px;
  padding-right: 40px;
}
.suspectItemImage{
  text-align: center;
  p{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    margin: 10px 0 0 0;
  }
  img{
    border-radius: 5px;
  }
}
.suspectItem{
  h3{
    font-weight: 300;
    margin: 0 0 5px 0;
  }
  span{
    font-weight: 500;
  }
}
.suspectTabs span[class^=TabIndicator]{
  background: #2196f3;
}
.suspectTab{
  text-transform: none;
  color: #000!important;

}
.suspectTab span{
  font-size: 0.9rem;
}
.imgResponsive{
  max-width: 100%;
  height: auto;
}
.additionalRow{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.additionalCol{
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px 0;
}
.additionalItem{
  background: #e0e0e0;
  width: 120px;
  height: 120px;
  border-radius: 7px;
}
