.topBarContainer {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .117647), 0 1px 4px rgba(0, 0, 0, .117647);
}

.topBarContainerInner {
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-right: 1px solid #eee;
}

.topBar{
  display: flex;
  position: fixed;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
  padding: 0 22px;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: rgba(0, 0, 0, 0.54);
  top: 60px;left: 0;right: 0;
  margin-left: 240px;
  background: rgb(250, 250, 250);
  box-shadow: none;
}
.rightContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.caseInfoHeader{
    margin: 0 20px;
}
.caseInfoHeader h2{
  font-weight: 200;
  font-size: 18px;
}
.caseInfoContent{
  border: 1px solid #d8d8d8;
  margin: 0 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.caseInfoItem{
  margin: 0 15px;
  padding: 30px 0;
  border-top: 1px solid #d1d1d1;
}
.caseInfoHeading{
  width: 350px;
  margin: 0 15px;
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}
.caseInfoHeading p{
  margin: 0;
  font-size: 14px;
}
.caseInfoImage{
    width: 62px;
  margin: 0 auto 30px auto;
}
.formGroup{
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.formGroup label{
  font-size: 14px;
  width: 110px;
  flex: 0 0 auto;
  font-weight: 300;
  color: rgba(0,0,0,0.54);
  font-weight: 200;
  line-height: 1.8;
}
.formGroup p{
  font-size: 14px;
  margin: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.formGroupOther{
  width: 350px;
}
.formGroupOther label{
  font-weight: 300;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
}
.formGroupOther p{
  font-size: 14px;
  margin: 10px 0 0 0;
}
