.sideBarNav{
  padding: 0;
}
.nextedItem{
  border-bottom: 1px solid #e6eaee;
  padding-left: 5px;
}
.nestedText{
  padding-left: 0;
}
.nestedText h3{
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
.nextedItemChildWrap{
  padding: 0;
}
.nextedItemChild{
  padding-left: 30px;
  border-left: 3px solid transparent;
}
.nextedItemChild:hover,
.nextedItemChild:active{
  border-left: 3px solid #72818b;
}
.nested{
  margin-left: 20px;
}
