.sideBarNav{
  padding: 0;
}
.nestedItem{
  border-bottom: 1px solid #e6eaee;
  padding-left: 5px;
}
.nestedText{
  padding-left: 0;
}
.nestedText h3{
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
.nestedItemChildWrap{
  padding: 0;
}
.nestedItemChild{
  padding-left: 26px;
  border-left: 3px solid transparent;
}
.nestedItemChild:hover,
.nestedItemChild:active{
  border-left: 3px solid #72818b;
}
.nestedIconChild{
  color: #f0c56a;
}
.nested{
  margin-left: 20px;
}
