.root {
  flex-grow: 1;
}
.tabNav{
  background: #f2f2f2;
}
.tabContent{
  padding: 0;
}
.tabItem{
  height: 55px;
}
.tabItemText{

  font-size: 1rem;
  text-transform: none;
  font-weight: 300;
  font-style: normal;
}
