.processedContent{
  flex: 1;
  background: #fbfbfb;
  padding: 30px;
}
.media{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
}
.mediaBody{
  flex: 1;
  padding: 0 0 0 20px;
}
.mediaBody h5{
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  color: #000;
}
.mediaAction{
  align-self: center;
}
.certainly{
  margin: 15px 0 0 0;
  font-size: 12px;
  color: #696969;
  font-weight: 300;
}
.certainly span{
  display: inline-block;
  padding: 2px 11px;
  font-size: 15px;
  border-radius: 3px;
  color: #fff;
  margin-left: 10px;
}
.certainlyHigh{
  background: #78c61e;
}
.certainlyMedium{
  background: #f5a623;
}
.certainlyLow{
  background: #d0021b;
}
.foundIn{
  font-size: 14px;
}
.foundIn span{
  font-weight: 500;
}
.buttonViewDetail{
  color: #42a5f4;
  margin-right: 20px;
  background: none;
}
.buttonRemoveSuspect{
  color: #d0021b;
  background: none;
}
