.overviewContent{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.modalContent{
  padding: 20px 30px;
}
.modalHeading{
  margin-bottom: 15px;
}

.modalShareTitle h2{
  font-size: 20px;
  font-weight: 300;
  flex: 0 0 auto;
  margin: 0;
}
.modalBtnClose{
  position: absolute;
  top: 19px;
  right: 12px;
  font-size: 16px;
  color: #7b7b7b;
  background: none;
  width: 30px;
  height: 30px;
  padding: 0;
  min-width: 30px;
  min-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

}

.modalWarning{
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: #757575;
}
.processContentModal{
  margin-bottom: 30px;
}
.processContentModal h3{
  font-weight: 300;
}
.processContentModal p{
  font-size: 1rem;
  color: rgba(0,0,0,0.7);
}
.processLeft{
  flex: 1 1 auto;
}
.formControlInput{
  font-size: 0.9rem;
  color: rgba(0,0,0,0.7);
  font-weight: 300;
}
.formControlInput:before,
.formControlInput [class^=MuiInput]:before{
  border-bottom: 2px solid #efefef;
}
.formControlInput label{
  font-size: 0.9rem;
  color: #9e9e9e;
}
.creationDate{
  margin-bottom: 30px;
  label{
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
  }
}
.iconCalendar{
  align-self: center;
  margin-top: 0px;
  margin-right: 5px;
}
.inputCalendar:nth-child(3){
  width: 50px;
}
.inputCalendar input{
  width: 87px;
  font-weight: 300;
  color: #000;
  font-size: 0.9rem;
}
.inputCalendar [class^=MuiInput]:before{
  border-bottom: 2px solid #efefef;
}
.formControlLabel{
  font-weight:300;
}
.switchFaceID{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.switchFaceID span{
  font-weight: 300;
}
.listItemProcessImage{
  margin-top: 10px;
}
.itemProcessImage{
  background: #d8d8d8;
  height: 62px;
}
@media (min-width: 992px){
  .processModal{
    width: 930px;
  }
}
@media (min-width: 1200px){
  .processContentModal{
    display: flex;
  }
  .processModal{
    width: 1180px;
  }
  .processRight{
    width: 300px;
    margin-left: 40px;
  }
}
