$sidebarwidth: 240;

:export {
  // stylelint-disable
  sidebarwidth: $sidebarwidth;
  // stylelint-enable
}

.container {
  width: #{$sidebarwidth}px;
  position: fixed;
  top: 60px;
  left: 0;
  display: block;
  min-height: 100%;
  height: 100%;
  background-color: #fafafa;
  border-right: 1px solid #e8e8e8;
}
